---
import Stats from '../components/Stats.astro';
import SehirlerSection from '../components/SehirlerSection.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import YeniTalepSection from '../components/YeniTalepSection.astro';
import { createClient } from '@supabase/supabase-js'

const supabaseKey = import.meta.env.SUPABASE_KEY

// Create a single supabase client for interacting with your database
const supabase = createClient('https://ckxsatunmczlcaakzgef.supabase.co', supabaseKey)
// For döngüsü ile şehirleri yazdırma

const { data, error } = await supabase.auth.signInWithOAuth({
  provider: 'google',
options: {
    redirectTo: 'https://example.com/welcome'
  }})

  
---

<Layout title="Şehirler">
	<main class="space-y-40 mb-40">
		<YeniTalepSection/>
		
	</main>
</Layout>