---
import Container from "./Container.astro";
---
<Container>
<div class="overflow-x-auto pt-24">
    <div class="inline-flex">
      <a href="/ekrem-imamoglu">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://pbs.twimg.com/profile_images/1558009149530800128/nIihF5ji_400x400.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Ekrem İmamoğlu</h1>
      </div>
    </a>
    <a href="/murat-kurum">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://pbs.twimg.com/profile_images/1743979524956585984/wKA8aoGw_400x400.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Murat Kurum</h1>
      </div>
    </a>
    <a href="/mansur-yavas">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://pbs.twimg.com/profile_images/1722008538644353024/659H7Pzn_400x400.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Mansur Yavaş</h1>
      </div>
    </a>
    <a href="/turgut-altinok">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://cdnuploads.aa.com.tr/uploads/Contents/2013/11/04/thumbs_b_c_1ee4aa6d65008e3e19193a791550a312.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Turgut Altınok</h1>
      </div>
    </a>
    <a href="/cemil-tugay">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://pbs.twimg.com/profile_images/1363482698547879937/lwb568Di_400x400.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Cemil Tugay</h1>
      </div>
    </a>
    <a href="/hamza-dag">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://pbs.twimg.com/profile_images/1749105180103131136/13QgWPiR_400x400.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Hamza Dağ</h1>
      </div>
    </a>
    <a href="/alinur-aktas">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://image.milimaj.com/i/milliyet/75/0x0/659a7aaf8e3a7e39eb0098ca.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Alinur Aktaş</h1>
      </div>
    </a>
    <a href="/mustafa-bozbey">
      <div class="flex-1 text-center px-5 py-2 m-2">
        <div class="relative shadow-xl mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
          <img class="object-cover w-full h-full" src="https://www.sehirodulleri.com/wp-content/uploads/2020/03/mustafa-bozbey-680x680.jpg">
        </div>
        <h1 class="pt-16 text-base font-semibold text-gray-900">Mustafa Bozbey</h1>
      </div>
    </a>
    </div>
    </div>
</Container>