---
import { createClient } from "@supabase/supabase-js";
const supabaseKey = import.meta.env.SUPABASE_KEY;
const supabase = createClient(
    "https://ckxsatunmczlcaakzgef.supabase.co",
    supabaseKey
  );
---
<button id="alkis">Alkış</button>
<script>

    const button = document.querySelector('#alkis');
      button.addEventListener('click', () => {
        alert('sdsdf');
        supabase.from('votes').insert({selection:'sdfsd',userid:'dfsdf',requestid:3})
        .then(()=>{
          alert('sent')
        })
      });
</script>