---
import Container from "./Container.astro";
import { Analytics } from '@vercel/analytics/react';
---

<footer class="py-20 md:py-20">
    <Container>
      <div class="m-auto">
        <div class="items-center">
          <div
            class="w-full space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12"
          >
            <ul class="list-inside">
              <li><a href="/yenitalep" class="transition hover:text-primary">Yeni Talep</a></li>
  
              <li><a href="/sehirler" class="transition hover:text-primary">Şehirler</a></li>
              <li><a href="/enson" class="transition hover:text-primary">En Son Yayınlanan Talepler</a></li>
              <li><a href="https://forms.gle/gcfMa5NxmdfYqNYN6" target="_blank" class="transition hover:text-primary">İletişim</a></li>
            
            </ul>
  
          </div>

        </div>
      </div>
    </Container>
</footer>