---
import { createClient } from "@supabase/supabase-js";
import Container from "./Container.astro";
const supabaseKey = import.meta.env.SUPABASE_KEY;
const supabase = createClient(
  "https://ckxsatunmczlcaakzgef.supabase.co",
  supabaseKey
);

const { sehir } = Astro.params;
const { data, error } = await supabase.from("requests").select().limit(10);
console.log(data);
---

<div id="blog">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
        Talepler
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        Talep listesi {sehir}
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        data.map(request=>(
        <div
        class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            {request.title}
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            {request.description}
          </p>
          <a class="inline-block" href={`/talep-detay?id=${request.id}`}>
            <span class="text-info dark:text-blue-300">Talep detayı</span>
          </a>
        </div>
      </div>
        ))
      }

    </div>
  </Container>
</div>
