---
import { Image } from 'astro:assets';
import Container from "./Container.astro";
import CategoryPic from "../lib/categorypic";
import { supabase } from "../lib/supabase";
import Alkis from './Alkis';
import { getUserAuth } from '../AuthFunc';

//const fields='title,description,address,county,category,id,count(votes(id))'

const userData=await getUserAuth(Astro);
const { data, error } = await supabase.from("requests").select().eq('requested_by',userData.user.id).order("created_at", {ascending: false}).limit(10)
//const {data,error}=await supabase.from('retrieveview').select()
---

<div id="blog">
  <Container>
    <div class="grid gap-2">
      {
        data?.map(request=>(
       
        <div
        class="group p-4 columns flex sm:p-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="mr-2 w-3/12">
          <img
            src={`/images/${CategoryPic(request.category)}.png`}
            alt="art cover"
            loading="lazy"
            class="rounded-xl w-32 transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="w-8/12 relative">
          <a href={`/talep/${request.id}`}>
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            {request.title}
          </h3>
          </a>
          <a
              href={`/talep/${request.id}`}
              class="relative flex h-9 w-full items-center justify-center mt-4 px-4 before:absolute before:inset-0 before:rounded-full before:bg-btntalep before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-sm font-semibold text-white"
                >Talebi Görüntüle</span>
            </a>
        </div>
      </div>
       </a>
        ))
      }

    </div>
  </Container>
</div>
