---
import Stats from '../../components/Stats.astro';
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import Testimonials from '../../components/Testimonials.astro';
import CallToAction from '../../components/CallToAction.astro';
import Blog from '../../components/Blog.astro';
import AdaylarSection from '../../components/AdaylarSection.astro';
import TaleplerSection from '../../components/TaleplerSection.astro';
import {sehirler} from '../../data/tumdata';
import {getUser} from '../../auth';
const user = await getUser(Astro.request);

export function getStaticPaths() {
  return [
    {params: {sehir: 'ankara'}},
    {params: {sehir: 'istanbul'}},
    {params: {sehir: 'bursa'}},
    {params: {sehir: 'izmir'}},
    {params: {sehir: 'adana'}},
    {params: {sehir: 'antalya'}},
    {params: {sehir: 'konya'}},
    {params: {sehir: 'gaziantep'}},
    {params: {sehir: 'mersin'}},
    {params: {sehir: 'enson'}},
    {params: {sehir: 'diyarbakir'}},
    {params: {sehir: undefined }}
  ]
}

const { sehir } = Astro.params;
---
<Layout user={user} title="Talepler">
	<main class="space-y-40 mb-40 pt-40">
		<TaleplerSection/>
		
	</main>
</Layout>